@import url(_variables.css);
@import url(color.css);
@import url(utilities.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

.page {
    padding: 150px;
    text-align: center;
    background-color: var(--light-color);
    color: var(--code-error);

}
.oops{
    font-size:150px !important;

}
.underconstruction{
    padding: 150px;
    text-align: center;
    background-color: var(--gray-400);
    color: var(--dark-color);
}

.underconst{
    font-size: 65px !important;
    border-bottom: 0.1rem solid;
    margin-bottom: revert;
}

.comingSoon{
    padding: 150px;
    text-align: center;
}

.Coming{
    font-size: 100px !important;
}
