@import url(_variables.css);
@import url(color.css);
@import url(utilities.css);
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

body{
    background-color: var(--light-color);
    font-family: 'Inter', sans-serif;
    color: var(--dark-color);
}
/* Top Header */
.top-header{
    padding: 20px;
    background-color:var(--dark-color);    
}
.logo-image{
    height: 45px;
}
.top-header .nav-link{
    padding: 0;
    margin:0 8px;
}
.top-header .nav-link i{
    color: var(--light-color);
    font-size: 1em;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    padding: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: block;
}
.top-header .nav-link i:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
}
.top-header .nav-link img{
width: 45px;
height: 45px;
border-radius: 50%;
}
.top-header .input-icon{
    display: flex;
    position: relative;

}
.top-header .input-icon-addon {
    position: absolute;
    left: 20px;
    top: 11px;
    font-size: 16px;
}

.top-header .form-control{
    border-radius: 50px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #fff;
    padding-left: 50px;
}

/* Nav bar */

.navbar .nav-item .nav-link{
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.navbar .nav-item .nav-link i{
    color: var(--primary-color);
    font-size: 16px;
    margin-right: 4px
}
.navbar .nav-link.active:after, .navbar .nav-link:hover::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 5px;
    background-color: var(--primary-color);
    bottom: -9px;
    left: 0;
    right: 0;
    border-radius: 14px;
    margin: 0 auto;
    text-align: center;

}
.content-section{
    padding: 60px 0;
}
.shadow{
    box-shadow: 0 1px 2px rgba(214,219,226,.5), 0 1px 2px rgba(214,219,226,.5);
}
.card{
    box-shadow: 0 1px 2px rgba(214,219,226,.5), 0 1px 2px rgba(214,219,226,.5);
    border: 0;
    border-radius: 8px;
}
.card-body{
    padding: 2em;
}
.card-header{
    border-bottom: 1px solid var(--bg-light);
    text-align: start;
    padding: 1.2em 2em;
    background-color: transparent;
}
.card-title{
    color: var(--dark-color);
    font-size: 20px;
    margin-bottom: 0;
}
.list-group-item{
    border-color: var(--border-color);
    padding: 1em 2em;
}
.list-group-item.active{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/*** Off Canvas Profile ***/
.offcanvas-profile{
    width:350px;
}
.user-img img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 1em;
    position: relative;
    border: solid var(--primary-color);
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
.user-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-color);
    line-height: 60px;
    background-color: var(--bg-light);
    text-align: center;
}
.user-icon i{
    font-size: 1.5em;
}

/** Responsive **/
@media (min-width: 992px){
    .navbar-expand-lg .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible!important;
        background-color: initial;
        border-right: 0;
        border-left: 0;
        transition: none;
        transform: none;
        width: 100%;
        height: 64px;
    }
    .offcanvas-body{
        display: flex;
        overflow-y: initial;
    }
    .offcanvas-header{
        display: none !important;
    }
    .offcanvas-profile .offcanvas-header{
        display: block !important;
    }
    }
/* pagination */
    .page-link {
        color: var(--primary-color);
        border-color: var(--bg-light);
        padding: 0.5rem 1rem;
    }

/* Accordion */
.accordion-button:not(.collapsed){
    color: var(--primary-color);
    background-color: rgba(var(--rgb-primary-color), 0.075);
    box-shadow: none;
}
.accordion-button, .accordion-body{
    padding: 1.5rem 2.5rem;
}
.accordion-item{
    border-color: var(--border-color);
}

/* alerts */
.alert img {
    height: 3em;
}

/* progress */
.progress {
    padding: 5px;
    height: 2rem;
    background-color:var(--light-color);
}
.progress-stacked{
    display: flex;
}

/* forms */
.btn-check:checked+.btn-outline-success{
    color: var(--white-color);
    background-color: var(--s);
}
.form-control.is-invalid{
    border-color: var(--danger-color);
}
.form-control.is-valid{
    border-color: var(--success-color);
}

.was-validated .form-check-input:invalid~.form-check-label {
    color:var(--danger-color);
}
.invalid-feedback{
    color: var(--danger-color);
} 
.stats-card.bg-primary-light{
    box-shadow: 0.5rem 1rem 0px rgba(var(--rgb-primary-color), 0.17);
}
.stats-card.bg-secondary-light{
    box-shadow: 0.5rem 1rem 0px rgba(var(--rgb-secondary-color), 0.17);
}
.stats-card.bg-success-light{
    box-shadow: 0.5rem 1rem 0px rgba(var(--rgb-success-color), 0.17);
}
.stats-card.bg-warning-light{
    box-shadow: 0.5rem 1rem 0px rgba(var(--rgb-warning-color), 0.17);
}
/* dashboard */
.log img{
    height: 1em;
    padding-right: 0.4em;
}
.stats .progress {
    height: 0.5rem;
    padding: 0px;
}

/* signup */
.form-control {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--border-color)!important;
}


/* calendar */

#external-events {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 40px;
    width: 190px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: var(--bg-light);
    border-color: var(--border-color);
}

  /* .demo-topbar + #external-events { 
    top: 60px;
  } */

  #external-events .fc-event {
    cursor:move;
    margin: 3px 0;
  }

  #calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
  }

  #calendar {
    max-width: 1100px;
    margin: 20px auto;
  }

  .fc .fc-button-primary:disabled {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
    color: var(--bg-light);
}
.fc .fc-button-primary {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
    color: var(--bg-light);
}

/* datatable */
